.Toggle{
       display: flex;
      /* max-height: 80vh; */

       height: 90px ;
       width: 180px;
       background-color: rgb(119, 121, 121);
       align-items: center;
       position: absolute;
    top: 50%;
    left: 50%;
    /* justify-content: center; Horizontally center karne ke liye (Left/Right) */
    align-items: center;
    border-radius: 30px;
    padding: 2px 4px;
}



.toogleSwitch{
     width: 60px;
     height: 60px;
     background-color:brown ;
     align-items: center;
     display: flex;
     border-radius: 50%;
     justify-content: center;
}

.span{
       align-items: center;
}



.on{
       transform: translateX(50px);
       background-color: greenyellow;
       border: 5px solid white
}
