.main-hero{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: cadetblue;
    height: auto;
    min-height: 450px;
    width: 100%;
}

.main-hero .text{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
}


.main-hero .image{
    margin-top: 20px;
    border-radius: 50%;
}