.Hero-main{
     display: flex;
     flex-direction: column;
     justify-content: center;
     min-height: 80vh;
     background-color: #25262b;
     text-align: center;
}

.Hero-main h1{
     font-size: 48px;
     color: #ffff;
     margin-bottom: 10px;
     text-align: center;
}



.Hero-main p{
    font-size: 20px;
    color: #a1a1a1;
    max-width: 600px;
   margin: 10px auto;
}

.Hero-main .Hero-btn{
    background-color: #ff4757;
    color: white;
    padding: 12px 30px ;
    border: none;

    border-radius: 25px ;
    margin-top: 20px;
}